/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* page styling */

body {
  background-color: #3e1464;
  color: rgb(247, 247, 108);
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: Roboto;
}
h1,
h2,
h3,
h4 {
  font-family: Comfortaa;
  color: #c86830;
}
p {
  width: 55%;
  font-family: Roboto;
  font-size: 0.95em;
}
li {
  width: 45%;
  font-family: Roboto;
  font-size: 0.95em;
}

.title {
  font-family: Comfortaa;
  color: #c86830;
  font-size: 3em;
  text-align: center;
}
div {
  background-color: #4e1184;
  border: #c86830;
  border-style: double;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
section {
  background-color: #501583;
  border: #8f4a22;
  border-style: solid;
  padding: 0.5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border-radius: 5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
}
code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #1d003677;

  border: 1px solid #1d003677;
  border-radius: 4px;
  overflow: hidden;
}
/* classes */
.innerlist {
  position: relative;
  right: 3vw;
}
.math {
  display: flex;
  font-size: 1.2em;
  border: none;
  margin: 0;
  padding: 0;
}
.problem {
  width: 3%;
}
.section-title {
  position: relative;
  left: 1vw;
  font-size: 2.5em;
}
.link-style {
  color: #c1764a;
  font-family: Roboto;
}
.anchor-style {
  list-style: none;
}
/*js styling*/
.input-text {
  border-style: solid;
  border-color: #c86830;
  color: #c86830;
  font-style: Comfortaa;
  font-size: 0.9em;
}
.input-number {
  border-style: solid;
  border-color: #c86830;
  color: #c86830;
  font-style: Comfortaa;
  font-size: 0.9em;
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 1vw;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
  margin-right: 1vw;
}

button {
  background-color: #c86830;
  border-color: #c86830;
  font-style: Comfortaa;
  font-size: 0.9em;
  color: #4e1184;
}

/*resposiveness*/
@media (max-width: 600px) {
  body {
    margin-left: 1vw;
    margin-right: 1vw;
  }
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
  p {
    width: 100%;
  }
  .input-number {
    border-style: solid;
    border-color: #c86830;
    color: #c86830;
    font-style: Comfortaa;
    font-size: 1.2em;
    width: 5vw;
    height: 5vw;
    margin-top: 2vw;
    margin: 0;
  }
}
@media (max-width: 1440px) {
  .math {
    display: inline-block;
    font-size: 1.2em;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .problem {
    width: 100%;
  }
}
