/* styles/main.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.zero-margin-top {
  margin-top: 0;
}

body {
  background-color: #3e1464;
  margin: 0;
  padding: 0;
}

.intense-image {
  background-image: url('../images/pexels-wendy-wei-1190298.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .intense-image {
    height: auto;
  }
}
.white-text {
  color: white;
}
.white-text-2 {
  font-style: 'Comfortaa', sans-serif;
  font-size: 30px;
  color: white;
}
h1 {
  font-family: 'Comfortaa', sans-serif;
  color: #ce5a17;
  text-align: center;
  font-size: 100px;
}
ul {
  list-style-type: none;
}
ol {
  list-style-type: none;
}
ul li {
  display: inline-block;
  margin: 40px;
  background-size: 10px;
  background-color: #ce5a17;
  border: 5px;
  border-style: solid;
  border-color: #ce5a17;
  font-style: 'Comfortaa', sans-serif;
  font-size: 30px;
}
.txt-center {
  text-align: center;
}
.button-link a {
  color: #fff; /* Text color */
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-style: 'Comfortaa', sans-serif;
  font-size: 30px;
}
.centered-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  div {
    top: initial; /* Reset the top property */
    margin-top: 100%; /* Adjust the margin-top for smaller screens */
  }
}
