/* styles/main.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/*base font size*/
html {
  font-size: 15px;
}
/*page styling*/
body {
  background-color: purple;
  margin: 0; /* eliminates the random 8 left margin */
}
/*background image*/
#background-image-position {
  position: relative;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}
/*top nav bar*/
#nav-background {
  position: relative;
  background: purple;
}
.top-nav-styling {
  color: orange;
  font-size: 2rem;
}
.button {
  font-size: 1.5rem;
  font-family: caom
}
/*main title styling*/
#main-title-h1 {
  color: orange;
  font-family: comfortaa;
  font-size: 5em;
}
#main-title-h2 {
  color: orange;
  font-family: comfortaa;
  font-size: 3em;
}
.layer-on-image {
  position: absolute;
  top: 17%; /* positions vertically center of container */
  left: 50%; /*positions horizontally center of container */
  transform: translate(-50%, -50%); /* */
}
/*other font styles*/
.text-align {
  text-align: center;
}
.container {
  height: auto;
  width: auto;
}
